## Pandas Serisi Oluşturmak

In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

* Pandas serisinin ilk sütundaki değerler indeks numaralarıdır
* İkinci sütun ise serinin kendisidir

In [17]:
s = pd.Series([41,83,72])
s

0    41
1    83
2    72
dtype: int64

In [4]:
seri = pd.Series([41,83,72])
type(seri)

pandas.core.series.Series

In [5]:
# veri tippini sorguladığımızda bir pandas serisi olduğunu görebiliriz

In [6]:
seri.axes

[RangeIndex(start=0, stop=3, step=1)]

pandas serisinin indeks bilgilerini döndürür

In [7]:
# 0' dan başlayarak 3'e kadar birer birer gitmiş

In [9]:
seri.dtype

dtype('int64')

Seri içindeki değerlerin veri tipini döndürür

In [10]:
seri.size

3

Seri içindeki eleman sayısını döndürür

In [11]:
seri.ndim

1

serinin boyut bilgisini döndürür

In [12]:
seri.values

array([41, 83, 72], dtype=int64)

seri içindeki asıl seri değeri olan değerleri(sütun değerleri) np arrayi formatında döndürür

In [15]:
seri.head(1)
# ilk gözlem değerlerini döndürür

0    41
dtype: int64

pandas seri veya dataframelerinde yapının içindeki ilk gözlemden parametredeki sayı kadar gözlemin değerlerini döndürür

In [19]:
s.head(2)
# s serisinin ilk 2 gözleminin değerlerine ulaştık

0    41
1    83
dtype: int64

In [21]:
s.tail(2)
# s serisinin son 2 gözleminin değerlerine ulaştık

1    83
2    72
dtype: int64

head tersi şeklinde görev yapar: parametredeki sayı kadar gözlem bilgisini sondan başlayarak başa doğru döndürür

### Dictionary veri tipinden pandas serisi oluşturma

In [41]:
sozluk = {"reg":10, "log":11, "cart":12}

In [42]:
dict_seri = pd.Series(sozluk)
dict_seri

reg     10
log     11
cart    12
dtype: int64

* Dict veri tipini pandas Serisine çevirmek istediğimizde key değerleri seriye indeks değeri olarak atanır
* value değerleri ise asıl seri değerleri olarak atanır

### İki seriyi birleştirerek yeni seri oluşturma

In [44]:
pd.concat([dict_seri,dict_seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64

concat metoduyla dict_seri serisini kendisiyle birleştirdik

## index isimlendirmesi

In [23]:
pd.Series([102,97,34,12,66])

0    102
1     97
2     34
3     12
4     66
dtype: int64

In [37]:
no_index = pd.Series([102,97,34,12,66], index = [1,3,5,7,9])
no_index

1    102
3     97
5     34
7     12
9     66
dtype: int64

index parametresine gönderdiğimiz değerlerle seri değerlerinin sahip olduğu indeks numaralarını kendimiz belirledik

indeks değerleri sadece sayısal değil string de olabilir:

In [27]:
s2 = pd.Series([102,97,34,12,66], index = ["a","b","c","d","f"])
s2

a    102
b     97
c     34
d     12
f     66
dtype: int64

**Not**: Bu isimlendirilen indeks değerleriyle elemanlara ulaşabiliriz. Slicing işlemi de gerçekleştirebiliriz

In [28]:
s2["c"]

34

In [30]:
s2["b":"f"] # yeniden isimlendirilen serilerde slicin işlemindeki stop noktası da dahil edilir

b    97
c    34
d    12
f    66
dtype: int64

In [34]:
seri

0    41
1    83
2    72
dtype: int64

In [35]:
seri[0:2]

0    41
1    83
dtype: int64

#### **Not**: Bir pandas serisini, bir numpy vektörü gibi düşünebiliriz
####                   Bu nedenle birleştirme yaparken yine veriler alt alta sıralandı. Yan yana sıralama gerçekleştirilemez