## Boş (eksik) Değerler Üzerinde Çalışmak

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = np.array([[1,2,3,None,5],[None,7,np.nan,9,10],[11,12,13,14,15]])
data

array([[1, 2, 3, None, 5],
       [None, 7, nan, 9, 10],
       [11, 12, 13, 14, 15]], dtype=object)

In [3]:
veri = pd.DataFrame(data,index=["Satır1","Satır2","Satır3"],columns=list("12345"))
veri

           1   2    3     4   5
Satır1     1   2    3  None   5
Satır2  None   7  NaN     9  10
Satır3    11  12   13    14  15

Oluşturduğumuz dfde satır2 gözleminin 1 değişkeninin ve Satır1 gözleminin 4 değişkeninin değeri eksik veridir

Satır2 gözleminin 3 değişkeninin değeri de eksik veridir

### isnull()

**Eksik değerleri _True_ olarak, var olan değerleri ise _False_ olarak döndürür**

In [4]:
veri.isnull()

            1      2      3      4      5
Satır1  False  False  False   True  False
Satır2   True  False   True  False  False
Satır3  False  False  False  False  False

### notnull()

**isnull metodunun tersi şeklinde çalışır. Eksik değerleri _False_, var olan değerleri ise _True_ olarak döndürür**

In [5]:
veri.notnull()

            1     2      3      4     5
Satır1   True  True   True  False  True
Satır2  False  True  False   True  True
Satır3   True  True   True   True  True

### dropna()

**Verilerin filtrelenmiş bir halini döndürür. Yani eksik değeri bulunan gözlemleri(satır) veri setinden kaldırır**

In [7]:
veri.dropna()

         1   2   3   4   5
Satır3  11  12  13  14  15

dropna metodu sütun bazında da kullanılabilir. Bunun için axis parametresini kullanmamız gereklidir

In [10]:
veri.dropna(axis=1)

         2   5
Satır1   2   5
Satır2   7  10
Satır3  12  15

axis parametresini 1 yaparak sütun bazında çalışmasını sağladık. 1,3 ve 4. değişkenler boş değerlere sahip olduğu için bu değişkenler veri setinden kaldırılmıştır

In [11]:
veri

           1   2    3     4   5
Satır1     1   2    3  None   5
Satır2  None   7  NaN     9  10
Satır3    11  12   13    14  15

In [14]:
veri.dropna(thresh=4)

         1   2   3     4   5
Satır1   1   2   3  None   5
Satır3  11  12  13    14  15

thresh parametresi filtrelemede bir şart sağlar. Bu şart: Veri setindeki gözlemin veya değişkenin döndürülmesi için en az 4 tane eksik olmayan değere sahip olmasıdır

Satır2 gözleminde 3 tane eksik olmayan değer bulunduğu için bu gözlem veri setindenn atılmıştır

### fillna()

**Veri setindeki eksik verileri parametreye atılan veri ile doldurur**

In [9]:
veri.fillna("deneme")

             1   2       3       4   5
Satır1       1   2       3  deneme   5
Satır2  deneme   7  deneme       9  10
Satır3      11  12      13      14  15

In [16]:
veri.fillna(0) # eksik olan değerleri 0 ile doldurduk;

         1   2   3   4   5
Satır1   1   2   3   0   5
Satır2   0   7   0   9  10
Satır3  11  12  13  14  15

In [18]:
veri

           1   2    3     4   5
Satır1     1   2    3  None   5
Satır2  None   7  NaN     9  10
Satır3    11  12   13    14  15

In [17]:
veri.fillna(method="ffill")

         1   2   3     4   5
Satır1   1   2   3   NaN   5
Satır2   1   7   3   9.0  10
Satır3  11  12  13  14.0  15

eğer method parametresine _"ffill"_ gönderilirse eksik değer bulunduğu değişkenin bir önceki gözlem değeri ile doldurulur

In [19]:
veri.fillna(method="bfill")

         1   2   3   4   5
Satır1   1   2   3   9   5
Satır2  11   7  13   9  10
Satır3  11  12  13  14  15

method parametresi _"bfill"_ değerini alıyorsa eksik değer bulunduğu değişkenin bir sonraki gözlemindeki değeri alır