# İleri Toplulaştırma işlemleri (Aggregate,filter,transform,apply)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = pd.DataFrame(
{
    "gruplar": ["A","B","C","A","B","C"],
    "degisken1": [10,23,33,22,11,99],
    "degisken2": [100,253,333,262,111,969]
},
columns=["gruplar","degisken1","degisken2"])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

## Aggregate

In [8]:
df.groupby("gruplar").describe()

        degisken1                                                degisken2  \
            count  mean        std   min   25%   50%   75%   max     count
gruplar
A             2.0  16.0   8.485281  10.0  13.0  16.0  19.0  22.0       2.0
B             2.0  17.0   8.485281  11.0  14.0  17.0  20.0  23.0       2.0
C             2.0  66.0  46.669048  33.0  49.5  66.0  82.5  99.0       2.0


          mean         std    min    25%    50%    75%    max
gruplar
A        181.0  114.551299  100.0  140.5  181.0  221.5  262.0
B        182.0  100.409163  111.0  146.5  182.0  217.5  253.0
C        651.0  449.719913  333.0  492.0  651.0  810.0  969.0

Standart betimsel istatistik metodlarının kullanımı yerine toplu bir şekilde veya özelleştirilmiş şekilde bu istatistik değerlerine ulaşmak için **aggregate** metodu kullanılır

In [10]:
df.groupby("gruplar").aggregate([min,np.median,"max"])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10     16  22       100    181  262
B              11     17  23       111    182  253
C              33     66  99       333    651  969

* aggregate fonksiyon parametresine istediğimiz istatistiksel sonuçları alabilmek için dizi şeklinde birtakım fonksiyonlar gönderdik
* Dikkat edersek bazı fonksiyonlar normal bazıları ise string şeklinde gönderilmiştir. Şimdi bunu açıklayalım :
* 1) min metodu normal bir şekilde gönderilmiştir, max metod ise string şekilde gönderilmiştir bunun sebebi pandasa ait bir metod aggregate fonksiyonu parametresine istersek normal istersek de string şekilde gönderilebilir.
* 2) ama median metodu normal bir şekilde gönderilmiştir çünkü pandasın kendisine ait bir metodu değildir numpy içerisinden çekilmiştir

In [11]:
df.groupby("gruplar").aggregate([min,"np.median","max"])

AttributeError: 'SeriesGroupBy' object has no attribute 'np.median'

median metodu dışarıdaki bir kaynaktan çekildiğği için string halinde yazılamaz. Burada bunu denediğimiz için hata döndürüldü

**Veri seti içindeki her bir değişken için farklı istatistiksel değerleri sorgulayabiliriz:**

In [12]:
df.groupby("gruplar").aggregate({"degisken1":"min","degisken2":"max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969

İstediğimiz değişkenlerin her biri özelinde farklı istatistik sonuçlarına ulaşmak için aggragate metodu içine bir sözlük gönderilir

* Gönderdiğimiz sözlükte degisken1 için minimum değere, degisken2 için ise maksimum değere ulaştık