In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## csv Okuma

In [23]:
pd.read_csv("reading_data-master/ornekcsv.csv")

       a;b;c
0    78;12;1
1    78;12;2
2   78;324;3
3      7;2;4
4    88;23;5
5       6;2;
6    56;11;6
7     7;12;7
8    56;21;7
9    346;2;8
10     5;1;8
11  456;21;8
12   3;12;88

read_csv metoduyla parametredeki dizinde bulunan dosyayı okumak için çağırdık

Bazı sorunlar çıktı ve gelen tablonun bazı form bozuklukları bulunuyor. Bunun sebebi paylaşılan veri seti txt ve csv olduğunda genelde değişkenler birbrinden bazı noktalama işaretleriyle ayrılır

Eğer ayrımı yapan işareti biliyorsak sep parametresiyle bu görüntünün önüne geçip daha okunur bir df elde edebiliriz

In [24]:
pd.read_csv("reading_data-master/ornekcsv.csv",sep=";")

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

## txt Okuma

In [25]:
pd.read_csv("reading_data-master/duz_metin.txt")

    1 2
0   2 2
1   3 2
2   4 2
3   5 2
4   6 2
5  7 2
6   8 2
7   9 2
8  10 2

txt türündeki veriyi de read_csv metoduyla okuduk

## xlsx (excel) Okuma

In [22]:
df = pd.read_excel("reading_data-master/ornekx.xlsx")
df

      a    b     c
0    78   12   1.0
1    78   12   2.0
2    78  324   3.0
3     7    2   4.0
4    88   23   5.0
5     6    2   NaN
6    56   11   6.0
7     7   12   7.0
8    56   21   7.0
9   346    2   8.0
10    5    1   8.0
11  456   21   8.0
12    3   12  88.0

read_excel metoduyla xlsx formatındaki veriyi okuduk

neler yapabileceğimizi görmek adına okuduğumuz verinin tipini sorgulayalım

In [14]:
type(df)

pandas.core.frame.DataFrame

Tipini sorguladığımızda pandasın dataframe sınıfına ait olduğunu görüyoruz

In [15]:
df.head()

    a    b    c
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0

In [19]:
df.columns = ["A","B","C"] # değişken isimlerini değiştirdik
df.head()

    A    B    C
0  78   12  1.0
1  78   12  2.0
2  78  324  3.0
3   7    2  4.0
4  88   23  5.0