# İleri Toplulaştırma işlemleri2 (Aggregate,filter,transform,apply)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

## filter

Normalde pandas kütüphanesinin sunduğu kadarıyla değişkenler üzerinde bazı şart işlemlerli yapılabiliyor fakat bazen koymak istediğimiz koşul pandas kütüphanesinin içinde bulunmayan daha komplike koşullar olabiliyor. Bu durumda bu sorguyu çalıştırmak için yeni bir fonksiyon oluşturulur ve filter metodu aracılığıyla veri seti üzerindeki değişkenlerde kullanılabilir

In [4]:
df = pd.DataFrame(
    {
    "gruplar": ["A","B","C","A","B","C"],
    "degisken1": [10,23,33,22,11,99],
    "degisken2": [100,253,333,262,111,969]
},
columns = ["gruplar","degisken1","degisken2"])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [9]:
def filter_func(x):
    return x["degisken1"].std()>9

In [10]:
df.groupby("gruplar").filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

* groupby metodu ile gruplar değişkeninin sınıfları grup haline getirildi
* daha sonra filter metoduna kendimiz oluşturduğumuz fonksiyonu gönderdik
* Bu fonksiyon üzerinde kullanılan veri setinin içerisindeki degisken1 değişkenindeki değerlerin standart sapmasını hesapladı ve 9'dan büyük olanları seçti

Şimdi bunu daha aşamalı bir şekilde işleyerek gözlemleyelim:

In [12]:
df.groupby("gruplar").std() # gruplar değişkeni referans alınarak bir gruplama işlemi yapıldı ve standart sapmalar hesaplandı

         degisken1   degisken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

Şimdi filter metodunu kendi fonksiyonumuzla tekrar çalıştıralım

In [14]:
df.groupby("gruplar").filter(filter_func) # daha önce yaptığımız gibi degisken1 değerlerinin standart sapmaları 9 dan büyük olan gözlemleri getirdi

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969

>iki tablo arasındaki ilişkiye göz atalım

* Genel standart sapma sorgualamasındaki tabloya bakarsak degisken1 değerlerinin standart sapması 9'dan büyük olan tek bir sınıf var bu da C sınıfı
* Bu nedenle gelecek değerlerin hepsi C sınıfına ait değerler olacaktır

Asıl df yi tekrar hatırlayalım

In [15]:
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

Ana df yi kontrol ettiğimizde C sınıfının 2 tane gözlemi bulunmaktadır bu nedenle bu sınıfın degisken1 değerleri standart sapması 9'dan büyük olduğu için C sınıfının gözlemleri döndürülmüştür

In [18]:
df.groupby("degisken2").filter(filter_func)

Empty DataFrame
Columns: [gruplar, degisken1, degisken2]
Index: []

* Gruplamayı degisken2 değişkeni için yaptığımızda herhangi bir gruplama olmaz çünkü kategorik değişkenler oluşturmazlar, her biri farklı değerlere sahiptir
* tablo aynı şekilde kalacağı için bu grupları da değerleri tek olduğu için standart sapma oluşmayacaktır. Bu sebeple filter fonksiyonundan döndürülen tablo boş olacaktır. 
>Bunu bir de normal standart sapma fonksiyonuyla kontrol edelim

In [19]:
df.groupby("degisken2").std()

           degisken1
degisken2
100              NaN
111              NaN
253              NaN
262              NaN
333              NaN
969              NaN

In [20]:
# Görüldüpü gibi degisken2 değişkenine göre gruplandığında herhangi bir sınıf oluşmamış dolayısıyla standart sapma oluşmamıştır