**Gruplama:** Veri seti içerisindeki kategorik değişkenlerin gruplarının yakalanması ve bu grupların özelinde bazı işlemler yapılması demektir

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [8]:
df = pd.DataFrame({
    "gruplar": ["A","B","C","A","B","C"],
    "veri": [10,11,52,23,43,55]
}, 
    columns = ["gruplar","veri"])
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    23
4       B    43
5       C    55

**Gruplar değişkeni kategorik bir değişkendir ve sınıflandırılmıştır**

>Bu veri setimizi somutlaştıralım

* Her bir grubu bir okul sınıfı olarak sayalım
* ve tablodaki veriyi de matematik dersinden alınan not olarak düşünelim
* Bu bağlamda, tabloda 3 tane sınıf,
* Her bir sınıfa ait 2 tane de not bilgisi vardır
* Örneğin A sınıfındaki bir öğrenci 10 puan almış yine aynı sınıftaki diğer bir öğrenci ise 23 puan almış

In [9]:
df.groupby("gruplar")

Gruplar değişkeni daha önce de belirttiğimiz gibi kategorik bir değişkendir

parametre ile gruplar değişkenini yakaladık ve groupby metodu ile bu değişkendeki kategori sınıflarını grupladık

In [10]:
df.groupby("gruplar").mean()

         veri
gruplar
A        16.5
B        27.0
C        53.5

daha sonra mean(aggregate) metodu ile ortalamalarını aldık

In [11]:
# diğer aggregate fonksiyonlarını da kullanabiliriz

In [13]:
df2 = sns.load_dataset("planets")
df2.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [14]:
df2.groupby("method")

In [16]:
df2.groupby("method")["orbital_period"] # method değişkenine göre grupladık ve orbital_period değişkeni üzerinde çalışacağımızı belirttik

In [17]:
df2.groupby("method")["orbital_period"].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

* Veri seti üzerindeki method kategorik değişkeninin unique sınıflarını grupladık
* Daha sonra bu gruplama işlemi referans alınarak orbital_period değişkeninin değerlerinin ortalamasını aldık

In [19]:
df2.groupby("method")["orbital_period"].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000