# Toplulaştırma (Aggregation)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

seaborn içerisinde bulunan "planets" veri setini yükledik

In [6]:
df.shape

(1035, 6)

In [7]:
# 1035 gözlem ve 6 sütundan oluşan bir veri setidir

In [8]:
df.size

6210

In [10]:
df.mean()

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

Veri seti içindeki bütün değişkenlerin ortalama değerlerini döndürdü

>Bütün değişkenler yerine belirli bir değişkene ulaşmak için:

In [12]:
df["mass"].mean() # şimdi de sadece mass değişkeni için ortalama hesapladık

2.6381605847953233

In [13]:
df.count()

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

Her bir değişkenin değer sayısını döndürür

>Bu da belirli değişkenler özelinde kullanılabilir

In [15]:
df["number"].count()

1035

In [18]:
df["number"].min() # değişkenin minimum değerini döndürür

1

In [19]:
df.min()

method            Astrometry
number                     1
orbital_period     0.0907063
mass                  0.0036
distance                1.35
year                    1989
dtype: object

In [20]:
df["number"].max() # değişkenin maksimum değerini döndürür

7

In [21]:
df.max()

method            Transit Timing Variations
number                                    7
orbital_period                       730000
mass                                     25
distance                               8500
year                                   2014
dtype: object

In [23]:
df["number"].sum() # değişken değerlerinin toplamını döndürür

1848

In [25]:
df.sum()

method            Radial VelocityRadial VelocityRadial VelocityR...
number                                                         1848
orbital_period                                          1.98689e+06
mass                                                        1353.38
distance                                                     213368
year                                                        2079388
dtype: object

In [27]:
df["number"].std() # değişken değerlerinin standart sapmasını döndürür

1.2409761743386767

In [28]:
df.std()

number                1.240976
orbital_period    26014.728304
mass                  3.818617
distance            733.116493
year                  3.972567
dtype: float64

In [30]:
df["number"].var() # değişken değerlerinin varyansını döndürür

1.5400218652762578

In [31]:
df.var()

number            1.540022e+00
orbital_period    6.767661e+08
mass              1.458183e+01
distance          5.374598e+05
year              1.578129e+01
dtype: float64

In [32]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

describe() metoduyla veri setinin değişkenlerinin tüm betimsel istatistik değerlerine bir arada ulaşabiliriz

Okumayı kolaylaştırmak adına bu metodunu çıktısnın transpozunu alabiliriz

In [34]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [36]:
df["number"].describe()

count    1035.000000
mean        1.785507
std         1.240976
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         7.000000
Name: number, dtype: float64

**Kullandığımız veri setleri  içinde eksik gözlem değerleri ile karşılaşmamız çok olası bir durumdur. Fakat buna rağmen bu eksik değerleri safdışı bırakarak betimsel istatistik değerlerine ulaşmak istersek:**

In [37]:
df.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

dropna metodu veri setindeki Na değerleri çıkartmayı sağlar.

Na değerleri çıkarıldıktan sonra tekrar describe metoduyla betimsel istatistik değerlerine ulaştık