In [4]:
import pandas as pd
import numpy as np

In [2]:
l = [1,2,39,67,90]
l

[1, 2, 39, 67, 90]

In [3]:
pd.DataFrame(l, columns = ["degisken_ismi"])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

* dataframe oluşturulurken ilk parametre dataframe olacak veri atılır
* columns parametresi ile de bu verilerin bulunduğu sütuna bir isim atanabilir
* dataframe bir excel verisi gibi düşünülebilir

Dataframelerdeki değişken sayıları( bir nevi sütun) artırılabilir

In [6]:
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

Şimdi elimizdeki np arrayini bir pandas dataframe haline getirelim

In [7]:
pd.DataFrame(m, columns = ["var1","var2","var3"])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

* Sonuç olarak bize 2 boyutlu bir dataframe döndürüldü
* değişken isimleri sütunlara atandı

### Dataframe isimlendirme

In [10]:
df = pd.DataFrame(m, columns = ["var1","var2","var3"])
df.head() # parametre girilmez ise verinin tamamını gösterir

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [12]:
df.columns # değişkenlerin(sütunların) isimlerini döndürür

Index(['var1', 'var2', 'var3'], dtype='object')

In [15]:
df.columns = ("deg1","deg2","deg3")
df.head()

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

Yeniden atam yöntemiyle dataframe değişken isimleri değiştirilebilir

## Dataframe Özellikleri

In [16]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

dataframe satırı ve sütun bilgilerini döndürür

In [20]:
arr = np.arange(0,6).reshape(3,2)

In [25]:
df2 = pd.DataFrame(arr)
df2

   0  1
0  0  1
1  2  3
2  4  5

In [26]:
df2.axes

[RangeIndex(start=0, stop=3, step=1), RangeIndex(start=0, stop=2, step=1)]

* Yeni dataframe'de değişkenleri isimlendirmedik ve değişken isimlerine otomatik indeksleme yapıldı
* axes metodu ile sorgulandığında start, stop ve step değerleriyle döndürüldü

In [28]:
df.shape

(3, 3)

Boyut bilgilerini döndürür

In [29]:
df.ndim

2

boyut sayısını döndürür

In [30]:
df.size

9

eleman sayısını döndürür

In [31]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

dataframe değerlerini numpy arrayi formatında döndürür. İndeks bilgileri ve değişken isimleri alınmaz

In [32]:
df.head(3)

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

Baştan, belirli sayıda gözleme ulaşmayı sağlar **(eğer parametre girilmemişse tamamını döndürür)**

In [33]:
df.tail(2)

   deg1  deg2  deg3
1     4     5     6
2     7     8     9

Sondan, belirli sayıda gözleme ulaşmayı sağlar **(eğer parametre girilmemişse tamamını döndürür)**