In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({"calisanlar":["ali","veli","ayse","fatma"],
                  "grup":["muhasebe","muhendislik","muhendislik","İK"]})
df1

  calisanlar         grup
0        ali     muhasebe
1       veli  muhendislik
2       ayse  muhendislik
3      fatma           İK

In [6]:
df2 = pd.DataFrame({"calisanlar":["ayse","ali","veli","fatma"],
                   "ilk_giris":[2010,2009,2014,2019]})
df2

  calisanlar  ilk_giris
0       ayse       2010
1        ali       2009
2       veli       2014
3      fatma       2019

## Birebir birleştirme

In [7]:
pd.merge(df1,df2)

  calisanlar         grup  ilk_giris
0        ali     muhasebe       2009
1       veli  muhendislik       2014
2       ayse  muhendislik       2010
3      fatma           İK       2019

merge metodu iki dataframe arasındaki ortak değişkeni otomatik analiz edip birebir birleştirme sağlar

merge metoduna birleştirme için referans alınacak değişken ismini de manuel girebiliriz

In [9]:
pd.merge(df1,df2,on = "calisanlar")

  calisanlar         grup  ilk_giris
0        ali     muhasebe       2009
1       veli  muhendislik       2014
2       ayse  muhendislik       2010
3      fatma           İK       2019

on parametresine referans alınacak değişken ismi girilir. Birden fazla ortak değişken varsa istediğimiz sonucu elde etmek için on parametresini kullanabiliriz

## Çoktan teke (many to one) birleştirme

In [10]:
df3 = pd.merge(df1,df2)
df3

  calisanlar         grup  ilk_giris
0        ali     muhasebe       2009
1       veli  muhendislik       2014
2       ayse  muhendislik       2010
3      fatma           İK       2019

In [11]:
df4 = pd.DataFrame({"grup":["muhasebe","muhendislik","İK"],
                   "mudur":["Caner","Mustafa","Berkcan"]})
df4

          grup    mudur
0     muhasebe    Caner
1  muhendislik  Mustafa
2           İK  Berkcan

In [12]:
pd.merge(df3,df4)

  calisanlar         grup  ilk_giris    mudur
0        ali     muhasebe       2009    Caner
1       veli  muhendislik       2014  Mustafa
2       ayse  muhendislik       2010  Mustafa
3      fatma           İK       2019  Berkcan

iki df yi grup değişkenine göre birleştirdik

* df3 te grup değişkeninde 3 tane değer bulunurken df4 te aynı değişkende 4 tane değer bulunuyor
* merge metodu birleştirme yaparken oluşan yeni tabloya; birinde bulunup diğerinde bulunmayan değeri de ekler

## Çoktan Çoka (many to many) birleştirme

In [15]:
df5 = pd.DataFrame({"grup":["muhasebe","muhasebe","muhendislik","muhendislik","İK","İK"],
                   "yetenekler":["matematik","excel","kodlama","linux","excel","yönetim"]})
df5

          grup yetenekler
0     muhasebe  matematik
1     muhasebe      excel
2  muhendislik    kodlama
3  muhendislik      linux
4           İK      excel
5           İK    yönetim

In [14]:
df1

  calisanlar         grup
0        ali     muhasebe
1       veli  muhendislik
2       ayse  muhendislik
3      fatma           İK

In [16]:
pd.merge(df5,df1)

          grup yetenekler calisanlar
0     muhasebe  matematik        ali
1     muhasebe      excel        ali
2  muhendislik    kodlama       veli
3  muhendislik    kodlama       ayse
4  muhendislik      linux       veli
5  muhendislik      linux       ayse
6           İK      excel      fatma
7           İK    yönetim      fatma

gruplarda birden fazla yetenek olduğu için birleştirme işleminde o gruba dahil olan calisanların tamamının bu yeteneğe sahip olması gereklidir. Bu yüzden her bir yeteneğe olan çalışanları açıklamak veriler tekrarlanmıştır