In [2]:
import numpy as np
import pandas as pd

In [3]:
m = np.random.randint(1,30,size = (10,3))

In [4]:
df = pd.DataFrame(m,columns = ["var1","var2","var3"])
df

   var1  var2  var3
0    19    25    29
1    20    25    12
2    24    17    19
3    23    29    27
4     6    11     3
5    23     2     7
6    18    28    27
7    26    24    20
8     6    20    15
9    11     7    21

In [7]:
df["var1"][0:2] # var1 değişkenindeki 0 ve 1 indeksli elemanlara ulaştık

0    19
1    20
Name: var1, dtype: int32

In [8]:
df[0:2]["var1","var2"]

KeyError: ('var1', 'var2')

Fancy indeks kullanmadan yapmaya çalıştığımız çoklu erişim hata döndürecektir. Eğer fancy indeks anlayışıyla yaklaşırsak hatanın önüne geçebiliriz

In [9]:
df[0:2][["var1","var2"]]

   var1  var2
0    19    25
1    20    25

In [10]:
df

   var1  var2  var3
0    19    25    29
1    20    25    12
2    24    17    19
3    23    29    27
4     6    11     3
5    23     2     7
6    18    28    27
7    26    24    20
8     6    20    15
9    11     7    21

In [14]:
df[df.var1>20]["var1"]

2    24
3    23
5    23
7    26
Name: var1, dtype: int32

* df. <değişken ismi> yöntemiyle dataframe içinden istediğimiz değişkene ulaşabiliriz
* Burada ise var1 değişkenine ulaştık ve değişken değerleri 20'den büyük olan değerler için yine var1 gözlemlerine ulaştık

In [15]:
df[df.var1>20]

   var1  var2  var3
2    24    17    19
3    23    29    27
5    23     2     7
7    26    24    20

Eğer istediğimiz ana değişkeni belirtmezsek var1 değişkeninin 20'den büyük olduğu gözlemleri bütün değişken isimleriyle birlikte bir dataframe olarak döndürür

In [16]:
df[df.var1>20]["var2"]

2    17
3    29
5     2
7    24
Name: var2, dtype: int32

var1 değişkeni değerleri 20'den büyük olan gözlemlerin var2 değişken değerlerini aldık

### Çoklu Koşul Girme

In [37]:
df[(df.var1>20) & (df.var2<9)] #df.loc[(df.var1>20),["var2","var1"]]

   var1  var2  var3
5    23     2     7

var1 değişkeni değeri 20'den büyük olan **ve** var2 değişkeni değeri de 9'dan küçük olan gözlemleri getirdik

In [41]:
df[df.var1>20][["var2","var1"]]

   var2  var1
2    17    24
3    29    23
5     2    23
7    24    26

var1 değişken değeri 20 den büyük olan gözlemlerin var2 ve var1 değişken değerlerine ulaştık

Yukarıdaki ulaştığımız elemanlara başka bir yöntemle daha ulaşabiliriz:

In [38]:
df[(df.var1>20),["var2","var1"]]

TypeError: '(0    False
1    False
2     True
3     True
4    False
5     True
6    False
7     True
8    False
9    False
Name: var1, dtype: bool, ['var2', 'var1'])' is an invalid key

Yukarıdaki şekilde bir kullanımda değişken isimleri doğal indeksin dışında olduğu için alışılan indeks yaklaşımıyla elemanlara erişemeyiz. Bunun önüne geçmek için loc metodunu çalıştırabiliriz

In [39]:
df.loc[(df.var1>20),["var2","var1"]]

   var2  var1
2    17    24
3    29    23
5     2    23
7    24    26

loc metodu ile tanımlanmış indekslerden elemanlara ulaşabiliriz