In [1]:
import numpy as np
import pandas as pd

In [8]:
data = np.arange(0,20).reshape(4,5)
data

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [4]:
df= pd.DataFrame(data)
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [9]:
main_index= np.array(["Main Index 1","Main Index 1","Main Index 2","Main Index 2"])

In [10]:
sub_index = np.array(["Sub Index 1","Sub Index 2","Sub Index 1","Sub Index 2"])

In [11]:
pd.DataFrame(data,index=[main_index,sub_index])

                           0   1   2   3   4
Main Index 1 Sub Index 1   0   1   2   3   4
             Sub Index 2   5   6   7   8   9
Main Index 2 Sub Index 1  10  11  12  13  14
             Sub Index 2  15  16  17  18  19

* Yukarıda oluşturduğumuz np arrayini DataFrame metoduna göndererek bunları değer olarak kullandık
* Daha sonra yine array olarak oluşturduğumuz gözlem isimlerini (satır isimlerini) indeks parametresine göndererek gözlem ismi haline df içinde gözlem indeksi haline getirdik
* Sub Indexleri Main Indexlerin alt gözlemi olarak gönderdik. Bunu tutarlı yapmak için her iki arrayin birbiriyle örtüşmesi gerekir
* Eğer bunların yazımında da bir farklılık olsaydı sınıflama yapılamayacağı için farklı gözlem indeksi gibi algılanır ve istediğimiz df den farklı bir df döndürülürdü

In [13]:
main_columns= np.array(["Main Column 1","Main Column 1","Main Column 1","Main Column 2","Main Column 2"])

In [14]:
sub_columns = np.array(["Sub Column 1","Sub Column 2","Sub Column 3","Sub Column 1","Sub Column 2"])

In [15]:
pd.DataFrame(data,columns=[main_columns,sub_columns])

  Main Column 1                           Main Column 2
   Sub Column 1 Sub Column 2 Sub Column 3  Sub Column 1 Sub Column 2
0             0            1            2             3            4
1             5            6            7             8            9
2            10           11           12            13           14
3            15           16           17            18           19

* Satırlar için yaptığımız uygulamanın aynısını sütunlar için gerçekleştirdik
* Sağlıklı bir gruplamanın sağlanması için değişken isimlerinin aynı olmasına ve hiyerarşik düzenine burada da dikkat edilmelidir

>Şimdi de hem satırlar için hem de sütunlar için multiIndex yapılı bir df oluşturalım

In [17]:
df2 = pd.DataFrame(data,index=[main_index,sub_index],columns=[main_columns,sub_columns])
df2

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main Index 1 Sub Index 1             0            1            2
             Sub Index 2             5            6            7
Main Index 2 Sub Index 1            10           11           12
             Sub Index 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main Index 1 Sub Index 1             3            4
             Sub Index 2             8            9
Main Index 2 Sub Index 1            13           14
             Sub Index 2            18           19

şimdi de hem index hem de columns parametrelerini kullanarak daha önce oluşturduğumuz arrayleri gönderdik ve hem gözlemler (stırlar) hem de değişkenler (sütunlar) bazında multiIndex bir df elde ettik

Bunlara ek olarak satırlara yani gözlemlere de bir başlık atayabiliriz. Bunun için **_index.names_** metodunu kullanarak atama yapabiliriz

In [19]:
df2.index.names = ("Main","Sub")
df2

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main         Sub
Main Index 1 Sub Index 1             0            1            2
             Sub Index 2             5            6            7
Main Index 2 Sub Index 1            10           11           12
             Sub Index 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main         Sub
Main Index 1 Sub Index 1             3            4
             Sub Index 2             8            9
Main Index 2 Sub Index 1            13           14
             Sub Index 2            18           19

* Gördüğümüz gibi Main Index ana gözlem sınıfına Main başlığını, 
* Sonraki iç gözlem sınıfı olan Sub Index gözlem sınıfına ise Sub başlığını atadık

In [27]:
df2.index

MultiIndex([('Main Index 1', 'Sub Index 1'),
            ('Main Index 1', 'Sub Index 2'),
            ('Main Index 2', 'Sub Index 1'),
            ('Main Index 2', 'Sub Index 2')],
           names=['Main', 'Sub'])

In [28]:
df2.index.levels

FrozenList([['Main Index 1', 'Main Index 2'], ['Sub Index 1', 'Sub Index 2']])

index.levels metodu oluşturulan MultiIndex yapının hiyerarşik düzenini yapısını açıklar
* ilk vektörde ana satırların ismi yer alır
* ikinci vektörde ise ikinci satırların ismi yer alır
* alt satırların ana satırlar altında nasıl dağıldığını görüntülemek için index.codes metodu kullanılabilir

In [36]:
df2.index.codes

FrozenList([[0, 0, 1, 1], [0, 1, 0, 1]])

index.codes metodunun döndürdüğü sonucu inceleyecek olursak:
* ilk boyuttaki vektör hiyerarşisi büyük olan satırın (ilk satırın) indekslerini göstermektedir
* 0 değerinin tekrarlanmasının sebebi Main Index 1 'in 2 kere yer almasındandır. Bunun da sebebi sahip olduğu 2 alt satırdan dolayıdır
* Tabloda 1 kere yazılır fakat arka planda 2 alt değişkene sahip olduğu için iki kere döndürülür. Bu tekilleştirme durumunu MultiIndex yapıusı sağlar
* aynısı 1 değerleri için de geçerlidir
* ikinci vektör ise alt değişkenlerin (sınıfın) indeks bilgileridir
* ilk iki değer üst sınıfın sahip olduğu alt değişken indeksleridir
* son iki değer ise diğer üst sınıfın sahip olduğu alt değişkenin indeksleridir
* Her üst sınıfın ikisinde de tekrarlandığı için [0,1,0,1] şeklinde dizilmiştir

#### **Not**: index için yapılan bu kontroller columns için de yapılabilir

In [39]:
df2.columns

MultiIndex([('Main Column 1', 'Sub Column 1'),
            ('Main Column 1', 'Sub Column 2'),
            ('Main Column 1', 'Sub Column 3'),
            ('Main Column 2', 'Sub Column 1'),
            ('Main Column 2', 'Sub Column 2')],
           )

In [40]:
df2.columns.levels

FrozenList([['Main Column 1', 'Main Column 2'], ['Sub Column 1', 'Sub Column 2', 'Sub Column 3']])

-------------------------------------------------------------------------------------------------------------------------------------

**MultiIndex yapısını oluşturmak için özel bir metot tanımlanmıştır.** Şimdi de bu metotu kullanarak bir MultiIndex yapısı oluşturalım

## MultiIndex.from_arrays()

In [30]:
index_arrays = [["Main Index 1","Main Index 1","Main Index 2","Main Index 2"],
               ["Sub Index 1","Sub Index2","Sub Index 1","Sub Index 2"]]

* MultiIndex oluştururken kullanmak için bir array oluşturduk
* Bu düzene göre hiyerarşisi en yüksek olan iki sınıf var: Main Index 1 ve Main Index 2
* Bunların altı olarak da her ikisinde de Sub Index 1 ve Sub Index 2 sınıfları var

In [31]:
indeks = pd.MultiIndex.from_arrays(index_arrays,names=("Main","Sub"))
indeks

MultiIndex([('Main Index 1', 'Sub Index 1'),
            ('Main Index 1',  'Sub Index2'),
            ('Main Index 2', 'Sub Index 1'),
            ('Main Index 2', 'Sub Index 2')],
           names=['Main', 'Sub'])

Yukarıda oluşturduğumuz arrayi **_MultiIndex.from_arrays_** metoduna göndererek multiIndex bir yapı oluşturduk
* names parametresini kullanarak bu gözlemlere (satırlara) birer başlık atadık

In [32]:
# şimdi bunu bir dataframe haline getireceğiz
pd.DataFrame(np.arange(20).reshape(4,5),indeks)

                           0   1   2   3   4
Main         Sub
Main Index 1 Sub Index 1   0   1   2   3   4
             Sub Index2    5   6   7   8   9
Main Index 2 Sub Index 1  10  11  12  13  14
             Sub Index 2  15  16  17  18  19

* np.arange metoduyla 20 elemanlık bir array oluşturduk ve reshape metoduyla (4,5) lik bir matris haline getirdik
* Bunun amacı df verilerini belirlemekti. Daha önce belirlenen verileri de bunun içine atabilirdik df2 dataframeinde yaptığımız gibi

>Kolonlar için de MultiIndex bir yapı oluşturalım

In [33]:
columns_array = [["Main Column 1","Main Column 1","Main Column 1","Main Column 2","Main Column 2"],
                ["Sub Column 1","Sub Column 2","Sub Column 3","Sub Column 1","Sub Column 2"]]

In [34]:
columns = pd.MultiIndex.from_arrays(columns_array)

In [35]:
pd.DataFrame(np.arange(20).reshape(4,5),indeks,columns)

                         Main Column 1                            \
                          Sub Column 1 Sub Column 2 Sub Column 3
Main         Sub
Main Index 1 Sub Index 1             0            1            2
             Sub Index2              5            6            7
Main Index 2 Sub Index 1            10           11           12
             Sub Index 2            15           16           17

                         Main Column 2
                          Sub Column 1 Sub Column 2
Main         Sub
Main Index 1 Sub Index 1             3            4
             Sub Index2              8            9
Main Index 2 Sub Index 1            13           14
             Sub Index 2            18           19

Oluşturduğumuz MultiIndex yapılarını hem satırlar için hem kolonlar için kullandık

####  MultiIndex yapısındaki elemanlara ulaşma işlemleri, slicing işlemleri gibi manipüle etme işlemleri bu hiyerarşik yapı gözetilerek yapılmalıdır. Yani önce ana gruba sonra alt gruba daha sonra ise değere ulaşma gibi