# İleri Toplulaştırma işlemleri4 (Aggregate,filter,transform,apply)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

## apply

**Değişken değerleri içerisinde gezinebilen ve toplulaştırma işlemi yapabilen bir metottur**

In [3]:
df = pd.DataFrame(
{
    "degisken1": [10,23,33,22,11,99],
    "degisken2": [100,253,333,262,111,969]
},
columns = ["degisken1","degisken2"])
df

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

In [4]:
df.apply(np.sum)

degisken1     198
degisken2    2028
dtype: int64

Parametresine numpy içindeki toplama metodunu göndererek değişkenlerin değerlerinin toplamını döndürdü

şimdi de işe grupları dahil edelim

In [6]:
df2 = pd.DataFrame(
{
    "degisken1": [10,23,33,22,11,99],
    "gruplar":["A","B","C","A","B","C"],
    "degisken2": [100,253,333,262,111,969]
},
columns = ["gruplar","degisken1","degisken2"])
df2

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [7]:
df2.groupby("gruplar").apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         32        362
B            BB         34        364
C            CC        132       1302

Gruplar değişkenine göre gruplandırıp her bir değişkenin o gruptaki değerlerinin toplamını döndürdü

Gruplar değişkeninin toplamı da kategorik değişkenlerin kendisiyle toplamına eşitlendi. Yani grupladığımız değişkenlerden biri olan A için bakacak olursak A aynı zamanda bir değişkendir. Bu nedenle A değişkenin toplamı AA olarak döndürülmüştür

**Not:** Daha önce de belirttiğimiz gibi apply metodu da dışarıdan fonksiyon alarak çalışır. Burada kendimiz fonksiyon oluşturmamamın sebebi kullanılmadığı için değil üşengeçliğimdendir. Aynı zamanda doğal olarak lambda mimarisi ile de çalışabilir