# İleri Toplulaştırma işlemleri3 (Aggregate,filter,transform,apply)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

## Transform

**Değişkenler ve değerleri üzerinde pandasta bulunan metodlardan ve yöntemlerden daha karmaşık bir dönüştürme işlemi yapılmak istendiğinde kullanılır**

Sadece gruplandrılmış veri setlerinde değil, düzenlenmemiş veri setleri üzerinde de çalışabilir

In [3]:
df = pd.DataFrame(
{
    "gruplar": ["A","B","C","A","B","C"],
    "degisken1" : [10,23,33,22,11,99],
    "degisken2" : [100,253,333,262,111,969]
},
columns= ["gruplar","degisken1","degisken2"])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [4]:
df.transform(lambda x: x-x.mean()) # metodun parametresi bir fonksiyon bekler fakat biz baştan fonksiyon oluşturmak yerine lambda mimarisini kullandık

TypeError: Could not convert ABCABC to numeric

Döndürülen hatanın sebebi veri setindeki değikenlerin birinin kategorik değişken olmasıdır(A,B,C), kategorik değişkenler matematiksel işlemlere sokulamazlar

> şimdi kategorik değişkenlerden kurtulalım ve aynı transform işlemini tekrarlayalım

In [12]:
df_n = df.iloc[:,1:3]
df_n

   degisken1  degisken2
0         10        100
1         23        253
2         33        333
3         22        262
4         11        111
5         99        969

iloc metoduyla istediğimiz değişkenleri seçerek yeni bir dataframe oluşturduk

Aynı işlemi df_n dfsi için ugulayalım

In [14]:
df_n.transform(lambda x: x-x.mean())

   degisken1  degisken2
0      -23.0     -238.0
1      -10.0      -85.0
2        0.0       -5.0
3      -11.0      -76.0
4      -22.0     -227.0
5       66.0      631.0

transform metodu vektörel çalışan bir metottur. Üzerine gönderilen değişkenin her bir değerinde dolaşır ve parametredeki fonksiyonu bu değişken ve değerleri üzerinde uygulayarak dönüştürür

* x burada değişkenleri ifade eder
* fonksiyonda işleme değişkenin kendisini ortalamadan çıkararak değişkenler dönüştürülmüştür
* Bu işlem değişkenlerin her değeri üzerinde çalıştırılmıştır